

.center {
	text-align: center;
	padding-bottom: 55px;
}

.lead {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-family: BikoRegular;
	color: #C24B4B;
}

#me{
    min-height:100vh;
    background-image:url("../images/intro/1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}
#me .intro{
    position: relative; /*For Top to work*/
    top: 50%;/*Leave 50% from top*/
    -webkit-transform: translateY(-50%);/*Same as above just HTML5 Syntax*/
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#me .my-image{
    width:300px;
    height:300px;
    margin:0 auto; 
	 border: 10px solid rgb(157, 130, 130);
	 border-radius: 25px;
}

#me .my-info{
    max-width:650px;
    margin:0 auto;
    text-align:center;
}

/*NavBar*/

.navbar {
	margin-bottom: 0;
	border: none;
}

/*Project*/
#projects{
	margin-top: 50px;
}

.projects-body{
	overflow: hidden;
}

.box{
	padding: 40px 30px;
	background: #ECD9F5;
	border-radius:5px;
	margin: 0 0 40px;
}

.img-projects-type {
	width: 81px;
	height: 81px;
}

/*.img-projects {
	min-width: 300px;
}*/

.projects-view{
	font-size: 28px;
	text-align: right;
	
}

.projects-view a{
	text-decoration: none;
}

/*contact*/

.contact-box{
	max-width: 600px;
	margin:0 auto;
}

.contact-box form{
	text-align: center;
}

/*.contact{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	background-color: #222;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	border-radius: 50%;
	color: #F67878;
	float:right;
}*/

/*resume*/

#resume button{
	display: inline-block;
  	margin: 0 10px 10px 0;
  	padding: 15px 45px;
  	font-size: 30px;
  	font-family: "Bitter",serif;
  	line-height: 1.8;
  	appearance: none;
  	box-shadow: none;
  	border-radius: 0;
}
#resume button:focus {
  outline: none
}
.flat {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}
.flat button:hover,
.flat button.hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}
.flat button:active,
.flat button.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

