/* lg */ 
@media (min-width: 1200px) {

  
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

 
}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-default .navbar-nav>li>a {
		color: #FFF;
		font-size: 20px;
		font-family: zombiecat;
		margin-right: 5px;
	}	

	.navbar-nav>li:nth-child(3){
		margin-left: 10px;
		margin-right: 10px;
	}

	.navbar-nav>li:nth-child(3) a{
   	font-size: 20px;
		font-family: axis;
		cursor: default;
	}
}
/* xs */
@media (max-width: 767px) {
	
	.box{
		width: 70%;	
		margin:0 auto 40px auto;	
		
	}
}

/* XS Portrait */
@media (max-width: 480px) {


}

