extends layout_no_nav

block content
    section#404
      .container.error-wrap
        .row
          .col-xs-12
            h4 Sorry, couldn't find the page you were looking for, This is either because:
            
            ul
              li There is an error in the URL entered into your web browser. Please check the URL and try again.
              li The page you are looking for has been moved or deleted.
            
            p You can return to the homepage by 
              a(href="http://rushabh.padalia.net")
                clicking here

