doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='This is my Personal Website. Have a look at my Project portfolio and my Resume. I am Actively Looking for Graduate Software Developer Job/Internship  ')
    meta(name='author', content='Rushabh Padalia')
    title Rushabh Padalia - Personal Website
    // core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/font-awesome.min.css', rel='stylesheet')
    link(href='css-dist/main-dist.css', rel='stylesheet')
    script(src='js/analytics.js')
  body
    section#nav
      nav.navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a#nav-me(href='#me')
                  | Me 
                  span.sr-only (current)
              li
                a#nav-projects(href='#projects')  Projects 
              li.visible-lg.visible-md.visible-sm
                a#nav-rushabh(href='#')  Rushabh Padalia 
              li
                a#nav-contact(href='#contact')  Contact 
              li
                a#nav-resume(href='#resume')  Résumé 
    block append content
        
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js-dist/main-min.js')
    script#github-bjs(async='', defer='', src='https://buttons.github.io/buttons.js')
