
if result == true
  .alert.alert-success(role='alert')
    button(type="button", class="close", data-dismiss="alert", aria-label="Close")
      span(aria-hidden="true")
        &times;
    strong Thank you
    &nbsp; for your message!
else
  .alert.alert-danger(role='alert')
    button(type="button", class="close", data-dismiss="alert", aria-label="Close")
      span(aria-hidden="true")
        &times;
    strong Sorry,
    &nbsp; unable to send message, try contacting me from the above social media link!
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    
