
/*Fonts*/
@font-face {
    font-family: axis;
    src: url(../fonts/axis.otf);
}

@font-face {
    font-family: zombiecat;
    src: url(../fonts/zombieCat.ttf);
}

@font-face {
    font-family: bikoblack;
    src: url(../fonts/Biko_Black.otf);
}

@font-face {
    font-family: adam;
    src: url(../fonts/adam.otf);
}

@font-face {
    font-family: bikoregular;
    src: url(../fonts/Biko_Regular.otf);
}

@font-face {
    font-family: mohave;
    src: url(../fonts/Mohave.otf);
}

@font-face {
    font-family: mohavebold;
    src: url(../fonts/Mohave-Bold.otf);
}

body{
	background-color:#F9F9F9;
}

.fa-git{
	color: rgb(94, 83, 83);
}
.fa-eye{
	color:rgb(127, 61, 61);
}
.fa-facebook{
	color:#39668C;
}
.fa-google-plus{
	color:rgb(153, 44, 44);
}
.fa-twitter{
	color:rgb(0, 164, 249);
}
.fa-envelope{
	color:rgb(255, 255, 255);
}
.fa-linkedin{
    color:#0B7BB6;
}


a:hover{
	text-decoration: none;
}
a:link:active, a:visited:active{
	text-decoration: none;
}

h2{
	font-family: axis;
	color: rgb(178, 87, 87);
	margin-top: 30px;
  font-size: 45px;
}

.center {
	text-align: center;
	padding-bottom: 55px;
}

.lead {
	font-size: 25px;
	line-height: 24px;
	font-weight: 400;
	font-family: BikoRegular;
	color: #4A2DA0;
}


#me{
    /*min-height:100vh;*/
    min-height:0;
    background-image:url("../images/intro/8.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 25%;
    text-align: center;
}
#me .intro{
    position: relative; /*For Top to work*/
    top: 35%;/*Leave 50% from top*/
    -webkit-transform: translateY(-35%);/*Same as above just HTML5 Syntax*/
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
    -webkit-transform: translateX(-43%);
    -ms-transform: translateX(-43%);
    transform: translateX(-43%);
}
#me .my-image{
    width:300px;
    height:300px;
    margin:0 auto;
	  border: 6px solid rgb(33, 27, 37);
	  border-radius: 25px;
}

#me .my-info{
    /*position: absolute;
    left: -25%;*/

    max-width:800px;
    margin:30px auto 0 auto;
    text-align:center;
}


/*.creativezombies h4 a{
	color: rgb(213, 135, 135);
	font-size: 20px;
	text-decoration: none;
}*/

#me .my-info h4{
	 font-family: adam;
	 font-size: 75px;
   line-height: 24px;
	 color: rgb(199, 199, 199) ;
}

.tagline{
  margin-top: 20px;
}
.tagline h4{
  font-size: 19px !important;
  color:#FFFFFF !important;
}
.tagline h4 a{
  color: #FFD6D1 !important;
}
.intro-wrap{
	height: 90.7vh;
}

/*.creativezombies h4 a:hover{
	color: rgb(255, 255, 255);
}*/

.overlay{
	background-color: rgba(5, 1, 56, 0.5);
	min-height:100vh;
}

/*NavBar*/

.navbar {
	margin-bottom: 0;
	border: none;
}
.navbar-default{
	background-color: #14141D;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #D07E7E;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
	font-size: 20px;
	font-family: zombiecat;
	margin-right: 10px;
}

.navbar-nav>li:nth-child(3){
	font-family: axis;
	margin-left: 20px;
	margin-right: 20px;
}

.navbar-nav>li:nth-child(3) a{
   font-size: 30px;
	font-family: axis;
	cursor: default;
}

.navbar-nav>li:nth-child(3) a:hover{
	color:#FFF;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

nav{
	opacity: 0.75;
}

/*Project*/
#projects{
	background-color: rgb(249, 249, 249);

}

.projects-body{
	overflow: hidden;
	height: 90px;
}

.projects-body h3{
	margin-left: 15px;
}

.projects-body p{
	margin-left: 15px;
	margin-bottom: 20px;
}

.projects-heading{
	font-family:bikoblack;
	color: rgb(119, 25, 25);
	margin-top: 25px;
}

.projects-desc{
	font-family: bikoregular;
	color: rgb(145, 40, 40);
	font-size: 20px;
	text-align: justify;
	height: 140px;
	margin-top: 20px;
}
.empty-view-project{
	padding-bottom: 28px;
}

.box{
	padding: 20px 30px 10px 30px;
	background: #FFFFFF;
	border-radius:5px;
	margin: 0 0 40px;
}

.box img{
	margin-bottom: 15px;
}

.img-projects{
	min-width: 285px;
	min-height: 288px;
	margin-top: 15px;
 	border: 3px solid rgb(249, 249, 249);
 	border-radius: 25px;
}

.img-projects-type {
	width: 81px;
	height: 81px;

}

/*.img-projects {
	min-width: 300px;
}*/

.projects-view{
	font-size: 20px;
	text-align: right;
	margin-top: 20px;
}

.projects-view a{
	text-decoration: none;
	margin-right:10px;

}

/*contact*/

#contact{
    background-image:url("../images/contact/1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#contact h2{
	color:rgb(178, 87, 87);
}

#contact a{
	font-size: 25px;
	margin-left: 10px;
}

.contact-box{
	max-width: 600px;
	margin:0 auto;
	margin-bottom: 40px;
}

.contact-box form{
	text-align: center;
}

#contact .overlay{
	min-height: 0;
	background-color: rgba(0, 23, 19, 0.79);
}

#contact .lead{
	color:#FFFFFF;
}

#contact .form-control{

	opacity: 0.75;
	color: #FF0000;
	font-size: 16px;
	border: 1px solid #FFF;
	font-family: zombiecat;
    background-color:#EDE9E9;
}

#contact .btn{
	color: #FFF;
	background-color: rgba(43, 67, 66, 0.49);
	border-color: rgba(43, 67, 66, 0.49);
	font-family: zombiecat;

}
#contact .error{
	background-color:#BB5151;
}
#contact textarea{
	min-height: 150px;
 	resize: none;
}

#contact input{
	min-height: 50px;
}

.btn-lg{
	font-family: zombiecat;
}
/*.contact{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	background-color: #222;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	border-radius: 50%;
	color: #F67878;
	float:right;
}*/

/*resume*/

#resume{
    background-image:url("../images/resume/1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 800px;
}
#resume button{
	display: inline-block;
  	margin: 0 10px 10px 0;
  	padding: 15px 45px;
  	font-size: 30px;
  	font-family: "Bitter",serif;
  	line-height: 1.8;
  	appearance: none;
  	box-shadow: none;
  	border-radius: 0;
}

#resume button:nth-child(2){
	padding: 15px 30px;
}
#resume .lead{
	color:#FFFFFF;
}
#resume .overlay{
	background-color: rgba(0, 23, 19, 0.53);
	min-height: 800px;

}
#resume img{
	 width:350px;
    height:500px;
    margin:0 auto;
	 border: 3px solid rgb(138, 152, 202);
	 border-radius: 25px;
}
#resume button:focus {
  outline: none
}

.flat {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}
.flat button:hover,
.flat button.hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}
.flat button:active,
.flat button.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}
