@media (min-width: 1380px) and (max-width: 1690px){
	#me .my-info h4{
		 font-size: 65px;
	   line-height: 24px;
		 color: rgb(199, 199, 199);
	}

	.tagline h4{
	  font-size: 16.6px !important;
	}

}

@media (min-width: 1418px) and (max-width: 1599px){
	#me .my-info h4{
		 font-size: 65px;
	   line-height: 24px;
		 color: rgb(199, 199, 199);
	}

	.tagline h4{
	  font-size: 16.6px !important;
	}

	#me .intro{
	    position: relative; /*For Top to work*/
	    top: 35%;/*Leave 50% from top*/
			-webkit-transform: translateY(-35%);/*Same as above just HTML5 Syntax*/
	    -ms-transform: translateY(-35%);
	    transform: translateY(-35%);
	    -webkit-transform: translateX(-35%);
	    -ms-transform: translateX(-35%);
	    transform: translateX(-35%);
	}

}

@media (min-width: 1320px ) and (max-width: 1419px){
	#me .my-info h4{
		 font-size: 55px;
	   line-height: 24px;
		 color: rgb(199, 199, 199);
	}

	.tagline h4{
	  font-size: 14px !important;
	}

	#me .intro{
	    position: relative; /*For Top to work*/
	    top: 35%;/*Leave 50% from top*/
			-webkit-transform: translateY(-35%);/*Same as above just HTML5 Syntax*/
	    -ms-transform: translateY(-35%);
	    transform: translateY(-35%);
	    -webkit-transform: translateX(-35%);
	    -ms-transform: translateX(-35%);
	    transform: translateX(-35%);
	}

}

@media (min-width: 768px ) and (max-width: 1319px){


	#me .intro{
    	position: relative; /*For Top to work*/
			top: 60%;/*Leave 50% from top*/
			-webkit-transform: translateY(-60%);/*Same as above just HTML5 Syntax*/
			-ms-transform: translateY(-60%);
			transform: translateY(-60%);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
	}

}


/* lg */
@media (min-width: 1200px) {


}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {


}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-default .navbar-nav>li>a {
		color: #FFF;
		font-size: 20px;
		font-family: zombiecat;
		margin-right: 5px;
	}

	.navbar-nav>li:nth-child(3){
		margin-left: 10px;
		margin-right: 10px;
	}

	.navbar-nav>li:nth-child(3) a{
   	font-size: 20px;
		font-family: axis;
		cursor: default;
	}
}
/* xs */
@media (max-width: 767px)  {

	.box{
		width: 70%;
		margin:0 auto 40px auto;
	}
	nav{
		opacity: 1;
	}
	.projects-desc{
		height: 70px;
	}
	.img-projects{
		min-width: 0;
		min-height: 0;
	}
	#me{
		min-height: 0;
		padding-top: 50px;
		background-attachment: scroll;
	}
	#me .intro{
    	position: static; /*For Top to work*/
    	top: initial;/*Leave 50% from top*/
    	-webkit-transform: none;/*Same as above just HTML5 Syntax*/
    	-ms-transform: none;
    	transform: none;
    	margin-top: 30px;
			padding-bottom: 50px;
			padding-top: 150px;
	}
	.tagline h4{
		font-size: 14.3px !important;
	}
	#me .my-image{
    	width:200px;
    	height:200px;
	}
	.intro-wrap{
		height: auto;
	}
	.overlay{
		min-height: 0;
	}
	#resume img{
	 	width:250px;
    	height:300px;
	}

	#resume button {
		padding-right: 25px;
		padding-left: 25px;
	}
	#resume button:nth-child(2){
		padding-right: 10px;
		padding-left: 10px;
	}
	#resume button:nth-child(3){
		padding-right: 27px;
		padding-left: 27px;
	}
	#me .my-info h4{
	 font-size: 55px;
	}
	#contact{
		background-attachment: scroll;
	}
	#resume{
		background-attachment: scroll;
	}
}

@media (max-width: 556px)  {
	#me .my-info h4{
	 font-size: 49px;
	}
}

/* XS Portrait */
@media (max-width: 480px) {

	#me .my-info h4{
		 font-size: 30px;
		 line-height: 24px;
		 color: rgb(199, 199, 199);
	}

	.box{
		width: 100%;
	}
	.projects-desc{
		height: 70px;
	}
	.img-projects{
		min-width: 0;
		min-height: 0;
	}
	#me{
		min-height: 0;
		padding-top: 50px;
		background-attachment: scroll;
	}
	#me .intro{
    position: static;
    top: initial;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-top: 30px;
	}

	#me .my-image{
    	width:200px;
    	height:200px;
	}
	.intro-wrap{
		height: auto;
	}
	.overlay{
		min-height: 0;
	}
	#resume img{
	 	width:250px;
    	height:300px;
	}

	#resume button {
		padding-right: 25px;
		padding-left: 25px;
	}
	#resume button:nth-child(2){
		padding-right: 10px;
		padding-left: 10px;
	}
	#resume button:nth-child(3){
		padding-right: 29px;
		padding-left: 29px;
	}
	#contact{
		background-attachment: scroll;
	}
	#resume{
		background-attachment: scroll;
	}


}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){

	nav{
		opacity: 1;
	}

	#me{
		min-height: 0;
		padding-top: 50px;
		background-attachment: scroll;
	}
	#me .intro{
			position: static; /*For Top to work*/
			top: initial;/*Leave 50% from top*/
			-webkit-transform: none;/*Same as above just HTML5 Syntax*/
			-ms-transform: none;
			transform: none;
			margin-top: 30px;
			padding-bottom: 50px;
			padding-top: 150px;
	}

	.overlay{
		min-height: 0;
	}
	#resume img{
	 	width:250px;
    	height:300px;
	}

	#resume button {
		padding-right: 25px;
		padding-left: 25px;
	}
	#resume button:nth-child(2){
		padding-right: 10px;
		padding-left: 10px;
	}
	#resume button:nth-child(3){
		padding-right: 27px;
		padding-left: 27px;
	}
	#contact{
		background-attachment: scroll;
	}
	#resume{
		background-attachment: scroll;
	}


}
